.entity {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .entityList {
    width: 100vw;
    height: auto;
  }
  
  /* MENU ITEM STYLING */
  
  .entityDBItem {
    width: 95%;
    height: 100px;
    margin: 30px;
    background-color: lightgoldenrodyellow;
  }
  .entityDBItem:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
    background-color: darkorange;
  }
  
  .entityDBItem div {
    width: 100%;
    height: 20px;
    position: center;
  }
  
  .entityDBItem h3 {
    padding-top: 15pt;
    margin-top: 20pt;
    text-align: left;
    margin-left: 10pt;
    margin-right: 10pt;
    color: #082b44;
  }
  .entityDBItem p {
    text-align: left;
    margin-left: 10pt;
    margin-right: 10pt;
    color: #082b44;
  }
