.title{
    font-family: 'Varela Round', sans-serif;
    padding: 2rem 1rem;
    text-align: center;
    color: #10121B;
}

h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin: 1rem 0;
}

.item{
    padding-bottom: 2rem;
    height: 240px;
    overflow: auto;
}

.item-con{
    width: 90%;
    padding: 1rem 1rem;
    background-color: #19202E;
    margin-left: 35pt;
    color: white;
}

.buttons{
    width: 70%;
    margin: 3rem auto;
    text-align: center;
}

.btn{
    padding: .5rem 2rem;
    background-color: #0C3564;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: white;
    transition: all 0.4s cubic-bezier(1,-0.16,.6,1.35);
}

.btn:not(:last-child){
    margin-right: 1rem;
}

.btn:hover{
    background-color: #037FFf;
    cursor: pointer;
}

.btn:active, .btn:focus{
    outline: none;
    border: none;
}

#div5{
    width: 100px;
    height: 400px;
    margin-left: 400pt;
    float: left;
    position: relative;
}